/*** Reset ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  background-color: #093683;
}

a {
  text-decoration: none;
}

/*** Breadcump ***/

.breadcump {
	display:inline-flex;
	gap:5px;
	margin-top: 10px;
	padding: 5px;
	list-style: none;
}

.breadcump a {
	font-weight:bolder;
	color: white;
}

.breadcump li+li:before {
	content: ">";
	padding: 8px;
	color: white;
}

.breadcump a:hover {
	text-decoration: underline;
	color: goldenrod;
}


/*** Logo ***/
.logo {
  width: 60px;
}

.logo img {
  width: 100%;
}

/*** Navigation ***/

#burger p {
  padding: 10px;
}


.menu ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: whitesmoke;
}


nav {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #093683;
  box-shadow: 1px 1px 5px silver;
}

/*** Header ***/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /**width: 100vw;**/
}

header h1 {
  font-size: 3.5rem;
  font-family: "Gill Sans";
  opacity: 0.8;
  color: whitesmoke;
}

/*** Content ****/

.home {
  padding: 10px;
}

.home h2 {
  text-align: center;
}

.img-home img {
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description a {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: underline;
  border-radius: 10px;
  color: goldenrod;
  border: 1px solid goldenrod;
}

.description a:hover {
  background-color: yellow;
  color: black;
  text-decoration: none;
}

/**** Categorie *****/

.categories {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 60vh;
	padding: 10px;
}

.trains, .trams {
	display:flex;
	justify-content:center;
	align-items: center;
	height: 50%;
	width: 30%;
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
	font-size:3.5em;
}

.trains a, .trams a {
	display: flex;
  	height: 100%;
  	width: 100%;
  	justify-content: center;
  	align-items: center;
  	opacity: 0;
}

.trains:hover a,  .trams:hover a {
	background-color: rgba(0,0,0,0.6);
	color: white;
	opacity: 1
}

/*** Articles ***/

.list {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}

.list article {
	padding: 15px;
	width: 20%;
	text-align: center;
}

.list article p {
	margin-bottom: 15px;
	text-align: justify;
}

.list article a {
	padding: 10px;
  	text-align: center;
  	text-decoration: underline;
  	border-radius: 10px;
  	color: goldenrod;
  	border: 1px solid goldenrod;
}

.list article a:hover {
	background-color: yellow;
  	color: black;
  	text-decoration: none;
}

/**** Responsive *****/

@media screen and (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    position: absolute;
    left: -250px;
    transition: 1.5s ease-in;
    height: 100vh;
    width: 30%;
    background-color: #093683;
    box-shadow: 1px 1px 5px silver;
  }

  .img-home {
    border-radius: 10px;
    height: 150px;
    width: 150px;
    margin: auto;
  }

  .img-home img {
    width: 100%;
  }
  
  /** Section **/
  .categories {
  	flex-direction: column;
  	gap: 20px;
  }
  
  .trains, .trams {
  	width: 70%;
  }
  
  .list {
  	flex-direction: column;
  }
  
  .list article {
	width: 90%;
	padding: 15px;
	margin: 15px;
	
  }
  
  
}

/*** Tablette et ordinateur ****/

@media screen and (min-width: 769px) {
  #burger {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .img-home {
    width: 20%;
  }

  .description {
    width: 60%;
    padding: 10px;
  }
}

/**** Tablette ****/

@media screen and (min-width: 769px) and (max-width: 1024px){
	
	.list{
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 10px;
	}
	
	.list article {
		width: 45%;
	}
}

/*** Ordinateur ****/

@media screen and (min-width: 1024px) {
	
	.list{
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 10px;
	}
	
	.list article {
		width: 28%;
	}
	
}
